*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color:#fff
}
html,body{
   height: 100%;
   width:100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color:#222;
    padding: 0 30px;


}
#page3{
    height: 100%;
    width: 100%;
    background-color:#333232;
}
#nav{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
}
#navpart1{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav h3{
    text-transform: uppercase;
    font-weight: 400;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 400;
}
#nav h1{
    text-transform: uppercase;
    font-weight: 400;
}